<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.te_scheduler_c196">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- ********Main Activity******** -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ********Term Activity******** -->
        <activity
            android:name=".TermActivity"
            android:label="@string/term_page_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.MainActivity" />
        </activity> <!-- ********Course Activity******** -->
        <activity
            android:name=".CourseActivity"
            android:label="All Courses"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.MainActivity" />
        </activity> <!-- ********Assessment Activity******** -->
        <activity
            android:name=".AssessmentActivity"
            android:label="Your Assessments"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.MainActivity" />
        </activity> <!-- ********Mentor Activity******** -->
        <activity
            android:name=".MentorActivity"
            android:label="Your Mentors"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.MainActivity" />
        </activity> <!-- ********Term Edit Activity******** -->
        <activity
            android:name=".TermAddActivity"
            android:label="Add Term"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.TermActivity" />
        </activity> <!-- ********Term Edit Activity******** -->
        <activity
            android:name=".TermEditActivity"
            android:label="Edit Term"
            android:parentActivityName=".TermActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.TermActivity" />
        </activity> <!-- ********Course Add Activity******** -->
        <activity
            android:name=".CourseAddActivity"
            android:label="Add Course"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.CourseActivity" />
        </activity> <!-- ********Course Edit Activity******** -->
        <activity
            android:name=".CourseEditActivity"
            android:label="Edit Course"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.CourseActivity" />
        </activity> <!-- ********Course Detail Activity******** -->
        <activity
            android:name=".CourseDetailActivity"
            android:label="Course Detail"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.CourseActivity" />
        </activity> <!-- ********Note Add Activity******** -->
        <activity
            android:name=".NoteAddActivity"
            android:label="Add Note"
            android:parentActivityName=".CourseActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.CourseActivity" />
        </activity> <!-- ********Assessment Add Activity******** -->
        <activity
            android:name=".AssessmentAddEditActivity"
            android:label="Add Assessment"
            android:parentActivityName=".AssessmentActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.AssessmentActivity" />
        </activity><!-- ********Mentor Add Activity******** -->
        <activity
            android:name=".MentorAddEditActivity"
            android:label="Add Mentor"
            android:parentActivityName=".MentorActivity">
            <meta-data
                android:name="PARENT_ACTIVITY"
                android:value="com.example.te_scheduler_c196.MentorActivity" />

        </activity>
    </application>

</manifest>